{% extends 'layout.html' %}
{% block content %}

    <div class="col-sm-10 ml-auto mr-auto ">
        <H2>Transaction According to ID</H2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                        <tr>
                            <th scope="row">{{ entry.id }}</th>
                            <td>{{entry.date.strftime("%m-%d-%Y")}}</td>
                            <td>{{entry.type}}</td>
                            <td>{{ entry.category }}</td>
                            <td>{{ entry.amount }}</td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

